USE [master]
GO
/****** Object:  Database [LUGSegundoParcial]    Script Date: 11/11/2024 14:55:55 ******/
CREATE DATABASE [LUGSegundoParcial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LUGSegundoParcial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LUGSegundoParcial.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LUGSegundoParcial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LUGSegundoParcial_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LUGSegundoParcial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LUGSegundoParcial]
GO
/****** Object:  Table [dbo].[CURSO]    Script Date: 11/11/2024 14:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURSO](
	[ID_CURSO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CURSO] [varchar](100) NOT NULL,
	[PROFESOR] [varchar](100) NOT NULL,
	[HORARIO] [varchar](100) NOT NULL,
 CONSTRAINT [PK_CURSO] PRIMARY KEY CLUSTERED 
(
	[ID_CURSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTUDIANTE]    Script Date: 11/11/2024 14:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTUDIANTE](
	[ID_ESTUDIANTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[FECHA_NACIMIENTO] [datetime] NOT NULL,
	[PROMEDIO_ACTUAL] [decimal](18, 0) NOT NULL,
	[ID_CURSO] [int] NOT NULL,
 CONSTRAINT [PK_ESTUDIANTE] PRIMARY KEY CLUSTERED 
(
	[ID_ESTUDIANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CURSO] ON 

INSERT [dbo].[CURSO] ([ID_CURSO], [NOMBRE_CURSO], [PROFESOR], [HORARIO]) VALUES (1, N'PROGRAMACION ORIENTADA A OBJETOS', N'JUAN PEREZ', N'LUNES 18:00 A 21:00 HS')
INSERT [dbo].[CURSO] ([ID_CURSO], [NOMBRE_CURSO], [PROFESOR], [HORARIO]) VALUES (4, N'LENGUANJES DE ULTIMA GENERACION', N'PEDRO RODRIGUEZ', N'MARTES DE 19:00 A 23:00 HS')
INSERT [dbo].[CURSO] ([ID_CURSO], [NOMBRE_CURSO], [PROFESOR], [HORARIO]) VALUES (5, N'DESARROLLO Y ARQUITECTURA DE SOFTWARE', N'LAUTARO GONZALEZ', N'VIERNES DE 19:00 A 22:00 HS')
SET IDENTITY_INSERT [dbo].[CURSO] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTUDIANTE] ON 

INSERT [dbo].[ESTUDIANTE] ([ID_ESTUDIANTE], [NOMBRE], [FECHA_NACIMIENTO], [PROMEDIO_ACTUAL], [ID_CURSO]) VALUES (1, N'Mauricio', CAST(N'1985-03-31T00:00:00.000' AS DateTime), CAST(5 AS Decimal(18, 0)), 1)
INSERT [dbo].[ESTUDIANTE] ([ID_ESTUDIANTE], [NOMBRE], [FECHA_NACIMIENTO], [PROMEDIO_ACTUAL], [ID_CURSO]) VALUES (2, N'Sebastian', CAST(N'2000-02-02T00:00:00.000' AS DateTime), CAST(0 AS Decimal(18, 0)), 1)
INSERT [dbo].[ESTUDIANTE] ([ID_ESTUDIANTE], [NOMBRE], [FECHA_NACIMIENTO], [PROMEDIO_ACTUAL], [ID_CURSO]) VALUES (3, N'Rocio', CAST(N'1994-06-15T00:00:00.000' AS DateTime), CAST(7 AS Decimal(18, 0)), 4)
SET IDENTITY_INSERT [dbo].[ESTUDIANTE] OFF
GO
ALTER TABLE [dbo].[ESTUDIANTE]  WITH CHECK ADD  CONSTRAINT [FK_ESTUDIANTE_CURSO] FOREIGN KEY([ID_CURSO])
REFERENCES [dbo].[CURSO] ([ID_CURSO])
GO
ALTER TABLE [dbo].[ESTUDIANTE] CHECK CONSTRAINT [FK_ESTUDIANTE_CURSO]
GO
USE [master]
GO
